body {
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jsonObject {
  display: block;
  padding-left: 20px;
}

.jsonKey {
  color: lightsteelblue;

  &::after {
    content: " : ";
    color: white;
  }
}

.jsonValue {
  margin-left: 8px;
  &::after {
    content: ",\A";
    white-space: pre;
  }

  &--number {
    color: antiquewhite;
  }
  &--string {
    color: lightgreen;
    &::before,
    &::after {
      content: '"';
    }
  }
  &--url {
    &::before,
    &::after {
      content: '"';
    }
  }
}

.jsonMiddleKey {
  padding-left: 20px;
  display: block;
}

summary {
  color: gray;
}

.surroundChar--start::after {
  padding-left: -20px;
}

// FIXME リファクタで場所を移す
.queryInput {
  display: flex;
  &Input {
    width: 90%;
    background: white;
    border-radius: 8px;
    padding: 8px 16px;
    color: black;
  }

  &ShareButton {
    background: rgb(150, 150, 239);
  }
}
