// ##################### reset css ###################
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: #000;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

// ##################### reset css ↑ ###################
body {
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jsonKey {
  color: lightsteelblue;

  &::after {
    content: " : ";
    color: white;
  }
}

.jsonValue {
  margin-left: 8px;
  &::after {
    content: ",\A";
    white-space: pre;
  }

  &--number {
    color: antiquewhite;
  }
  &--string {
    color: lightgreen;
    &::before,
    &::after {
      content: '"';
    }
  }
  &--url {
    &::before,
    &::after {
      content: '"';
      color: rgb(70, 70, 70);
    }
  }
}

.jsonRow {
  display: flex;
}

.jsonObject {
  &Detail {
    padding-left: 8px;
  }

  &Summary {
    color: rgb(70, 70, 70);
    // font-size: small;
  }
}

.jsonMiddle {
  &Key {
    @extend .jsonKey;
  }
  &Value {
    padding-left: 8px;
  }

  &Wrapper {
    display: flex;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 30px; /* 上端のオフセット */
      left: 2px;
      height: calc(100% - 30px);
      width: 1px;
      border-left: dotted 0.5px rgb(70, 70, 70);
    }
  }
}

// FIXME リファクタで場所を移す
.queryInput {
  width: 100%;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  &SearchBox {
    display: flex;
    justify-content: space-around;
    width: 100%;

    &InputWrapper {
      width: 85%;
      background: white;
      border-radius: 8px;
      padding: 8px 16px;
      color: black;
      position: relative;
    }
  }

  &Input {
    width: 100%;
  }

  &ShareButton {
    background: rgb(150, 150, 239);
    color: white;
    padding: 8px 16px;
  }
  &HistoryButton {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(70, 70, 70, 0.7);
    color: white;
    height: 80%;
    padding: 4px 8px;
    border-radius: 4px;
  }

  &Suggest {
    position: relative;
    overflow-y: scroll;
    margin: 0 16px 0px;
    padding: 8px 16px 8px;
    max-height: 20vh;
    width: 60%;
    border-radius: 0 0 8px 8px;
    background-color: rgba(244, 241, 241, 0.5);
    list-style: none;

    &Button {
      min-width: 90%;
      display: flex;
      justify-content: flex-start;
      color: white;
    }
    &--active {
      background-color: rgba(144, 238, 144, 0.9);
    }
    &RemoveButton {
      color: white;
      width: 64px;
    }

    &List {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
