@import "variables";
@import "reset";

body {
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color;
}

button:focus {
  border: solid 1px $punctuation-color;
}

.jsonPreview {
  padding-top: 8px;
  .jsonKey {
    color: $text-color;

    &::after {
      content: " : ";
      color: $punctuation-color;
    }
  }

  .jsonValue {
    margin-left: 8px;
    &::after {
      content: ",\A";
      white-space: pre;
    }

    &--boolean {
      color: $boolean-color;
    }
    &--undefined {
      color: $undefined-color;
    }
    &--number {
      color: $number-color;
    }
    &--string {
      color: $string-color;
      &::before,
      &::after {
        content: '"';
      }
    }
    &--url {
      &::before,
      &::after {
        content: '"';
        color: $punctuation-color;
      }
    }
  }

  .jsonRow {
    display: flex;
  }

  .jsonObject {
    &Detail {
      padding-left: 8px;
    }

    &Summary {
      color: $punctuation-color;
      width: 40px;
    }
  }

  .jsonMiddle {
    &Key {
      @extend .jsonKey;
    }
    &Value {
      padding-left: 8px;
    }

    &Wrapper {
      display: flex;
      position: relative;
      font-size: $json-font-size;
      &::before {
        content: "";
        position: absolute;
        top: 30px; /* 上端のオフセット */
        left: 2px;
        height: calc(100% - 30px);
        width: 1px;
        border-left: dotted 0.5px $punctuation-color;
      }
    }
  }
}

.queryInput {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  &SearchBox {
    display: flex;
    justify-content: start;
    width: 100%;

    &InputWrapper {
      width: 85%;
      background: white;
      border-radius: 2px;
      color: black;
      position: relative;
    }
  }

  &Input {
    width: 100%;
    height: 100%;
    padding-left: 8px;
  }

  &ButtonArea {
    display: flex;
    justify-content: center;
  }
  &ShareButton {
    background: $button-active-background;
    border-radius: 2px;
    color: $button-active-text;
    margin-left: 8px;
    padding: 4px 8px;
  }
  &HistoryButton {
    background-color: rgba($app-gray, 0.7);
    color: $button-active-text;
    padding: 4px 8px;
    border-radius: 2px;
  }

  &DeleteButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($app-gray, 0.7);
    color: $button-active-text;
    padding: 4px 8px;
    border-radius: 2px;
  }

  &Suggest {
    position: absolute;
    z-index: 10;
    top: 24px;
    overflow-y: scroll;
    margin: 0 16px 0px;
    padding: 8px 16px 8px;
    max-height: 20vh;
    width: 75%;
    border-radius: 0 0 8px 8px;
    background-color: $background-color;
    list-style: none;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

    &Button {
      min-width: 90%;
      display: flex;
      justify-content: flex-start;
      color: $white-color;
      font-size: large;
      &:hover {
        background-color: $button-hover-background;
      }
    }
    &--active {
      padding: 0 8px;
      background-color: $button-hover-background;
    }
    &RemoveButton {
      color: $white-color;
      width: 64px;
      &:hover {
        background-color: $button-hover-background;
      }
    }

    &AllRemoveButton {
      border-top: solid 1px $white-color;
      color: $white-color;
      width: 100%;
      &:hover {
        background-color: $button-hover-background;
      }
    }

    &List {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
